In [1]:
import pandas as pd
import numpy as np

Application Table

In [2]:
ap= pd.read_csv("../data/raw/application_train.csv")

In [3]:
ap.shape

(307511, 122)

In [4]:
ap.drop(columns=['NAME_TYPE_SUITE','DAYS_ID_PUBLISH','OWN_CAR_AGE'
                 ,'FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE','FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL','REGION_RATING_CLIENT_W_CITY'
                 ,'REG_REGION_NOT_LIVE_REGION','HOUR_APPR_PROCESS_START','WEEKDAY_APPR_PROCESS_START','REG_REGION_NOT_WORK_REGION'
                 ,'LIVE_REGION_NOT_WORK_REGION','REG_CITY_NOT_LIVE_CITY','REG_CITY_NOT_WORK_CITY','LIVE_CITY_NOT_WORK_CITY','FLOORSMIN_MEDI'
                 , 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
    'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'BASEMENTAREA_MODE',
    'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
    'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE',
    'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI',
    'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI',
    'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'APARTMENTS_AVG',
    'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG',
    'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
    'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG',
    'APARTMENTS_MODE','FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
    'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
    'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
    'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
   'FONDKAPREMONT_MODE',
    'HOUSETYPE_MODE','WALLSMATERIAL_MODE','EMERGENCYSTATE_MODE'], inplace=True)

In [5]:
ap.shape

(307511, 37)

In [ ]:
num_median = [
    'AMT_INCOME_TOTAL',
    'AMT_CREDIT',
    'AMT_ANNUITY',

    'Credit_to_Income_Ratio',
    'Annuity_to_Income_Ratio',
    'Annuity_to_Credit_Ratio',

    'EXT_SOURCE_1',
    'EXT_SOURCE_2',
    'EXT_SOURCE_3',

    'REGION_POPULATION_RELATIVE',
    'DAYS_BIRTH',
    'DAYS_REGISTRATION',
    'DAYS_LAST_PHONE_CHANGE',

    'CNT_FAM_MEMBERS',
    'REGION_RATING_CLIENT',

    'inst_mean_payment_delay',
    'inst_mean_payment_rate',

    'avg_prev_amt_requested',
    
    'avg_cc_max_limit_used',
    'avg_cc_mean_drawings_atm_current',
]

num_zero = [
    'OBS_60_CNT_SOCIAL_CIRCLE',
    'DEF_60_CNT_SOCIAL_CIRCLE',

    'AMT_REQ_CREDIT_BUREAU_MON',
    'AMT_REQ_CREDIT_BUREAU_YEAR',

    'bureau_overdue_months',
    'total_active_bureau_loans',

    'pos_num_loans',
    'pos_mean_cnt_instalment',

    'prev_num_approved',
    'prev_num_rejected',

    'max_cc_sk_dpd_def',
    'CC_PAYMENT_RATIO',
    'DELINQUENCY_SEVERITY',

    'HAS_CC_DELINQUENCY',
    'NO_CC_PAYMENT_FLAG'
]


cat_unknown = [
    'NAME_CONTRACT_TYPE',
    'CODE_GENDER',
    'FLAG_OWN_CAR',
    'FLAG_OWN_REALTY',

    'NAME_INCOME_TYPE',
    'NAME_EDUCATION_TYPE',
    'NAME_FAMILY_STATUS',
    'NAME_HOUSING_TYPE',

    'OCCUPATION_TYPE',
    'ORGANIZATION_TYPE'
]

In [10]:
for col in num_median:
    if col in ap.columns:
        ap[col] = ap[col].fillna(ap[col].median())
for col in num_zero:
    if col in ap.columns:
        ap[col] = ap[col].fillna(0)
for col in cat_unknown:
    if col in ap.columns:
        ap[col] = ap[col].fillna('Unknown')

In [11]:
null_counts = ap.isnull().sum()
print(null_counts.to_string())

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
CNT_CHILDREN                      0
AMT_INCOME_TOTAL                  0
AMT_CREDIT                        0
AMT_ANNUITY                       0
AMT_GOODS_PRICE                 278
NAME_INCOME_TYPE                  0
NAME_EDUCATION_TYPE               0
NAME_FAMILY_STATUS                0
NAME_HOUSING_TYPE                 0
REGION_POPULATION_RELATIVE        0
DAYS_BIRTH                        0
DAYS_EMPLOYED                     0
DAYS_REGISTRATION                 0
OCCUPATION_TYPE                   0
CNT_FAM_MEMBERS                   0
REGION_RATING_CLIENT              0
ORGANIZATION_TYPE                 0
EXT_SOURCE_1                      0
EXT_SOURCE_2                      0
EXT_SOURCE_3                      0
OBS_30_CNT_SOCIAL_CIRCLE       1021
DEF_30_CNT_SOCIAL_CIRCLE       1021
OBS_60_CNT_SOCIAL_CIRCLE          0
DEF_60_CNT_SOCIAL_CIRCLE          0
DAYS_LAST_PHONE_CHANGE            0
AMT_REQ_CREDIT_BUREAU_HOUR    41519
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON         0
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR        0

In [12]:
ap.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,2.0,0.0,-617.0,NaN,NaN,NaN,0.0,NaN,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,-1106.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 37 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   SK_ID_CURR                  307511 non-null  int64
 1   TARGET                      307511 non-null  int64
 2   NAME_CONTRACT_TYPE          307511 non-null  object
 3   CODE_GENDER                 307511 non-null  object
 4   FLAG_OWN_CAR                307511 non-null  object
 5   FLAG_OWN_REALTY             307511 non-null  object
 6   CNT_CHILDREN                307511 non-null  int64
 7   AMT_INCOME_TOTAL            307511 non-null  float64
 8   AMT_CREDIT                  307511 non-null  float64
 9   AMT_ANNUITY                 307511 non-null  float64
 10  AMT_GOODS_PRICE             307233 non-null  float64
 11  NAME_INCOME_TYPE            307511 non-null  object
 12  NAME_EDUCATION_TYPE         307511 non-null  object
 13  NAME_FAMILY_STATUS          307511 non-null  object
 14  NAME_HOUSING_TYPE           307511 non-null  object
 15  REGION_POPULATION_RELATIVE  307511 non-null  float64
 16  DAYS_BIRTH                  307511 non-null  int64
 17  DAYS_EMPLOYED               307511 non-null  int64
 18  DAYS_REGISTRATION           307511 non-null  float64
 19  OCCUPATION_TYPE             307511 non-null  object
 20  CNT_FAM_MEMBERS             307511 non-null  float64
 21  REGION_RATING_CLIENT        307511 non-null  int64
 22  ORGANIZATION_TYPE           307511 non-null  object
 23  EXT_SOURCE_1                307511 non-null  float64
 24  EXT_SOURCE_2                307511 non-null  float64
 25  EXT_SOURCE_3                307511 non-null  float64
 26  OBS_30_CNT_SOCIAL_CIRCLE    306490 non-null  float64
 27  DEF_30_CNT_SOCIAL_CIRCLE    306490 non-null  float64
 28  OBS_60_CNT_SOCIAL_CIRCLE    307511 non-null  float64
 29  DEF_60_CNT_SOCIAL_CIRCLE    307511 non-null  float64
 30  DAYS_LAST_PHONE_CHANGE      307511 non-null  float64
 31  AMT_REQ_CREDIT_BUREAU_HOUR  265992 non-null  float64
 32  AMT_REQ_CREDIT_BUREAU_DAY   265992 non-null  float64
 33  AMT_REQ_CREDIT_BUREAU_WEEK  265992 non-null  float64
 34  AMT_REQ_CREDIT_BUREAU_MON   307511 non-null  float64
 35  AMT_REQ_CREDIT_BUREAU_QRT   265992 non-null  float64
 36  AMT_REQ_CREDIT_BUREAU_YEAR  307511 non-null  float64
dtypes: float64(21), int64(6), object(10)
memory usage: 86.8+ MB

In [14]:
ap.duplicated().sum()

np.int64(0)

In [15]:
ap=ap.dropna()

bureau_balance Table

In [16]:
b2= pd.read_csv("../data/raw/bureau_balance.csv").dropna()
b1= pd.read_csv("../data/raw/bureau.csv").dropna()

In [17]:
b1.shape

(39666, 17)

In [18]:
b2.shape

(27299925, 3)

In [19]:
overdue = ["1", "2", "3", "4", "5"]
b2["is_overdue"] = b2["STATUS"].isin(overdue).astype(int)
bb_agg = (
    b2
    .groupby("SK_ID_BUREAU")["is_overdue"]
    .sum()
    .reset_index()
    .rename(columns={"is_overdue": "bureau_overdue_months"})
)

In [20]:
b = b1.merge(bb_agg, on="SK_ID_BUREAU", how="left")
b["bureau_overdue_months"] = b["bureau_overdue_months"].fillna(0)

In [21]:
bureau_final = (
    b
    .groupby("SK_ID_CURR")["bureau_overdue_months"]
    .sum()
    .reset_index()
)

In [22]:
ap = ap.merge(bureau_final, on="SK_ID_CURR", how="left")
ap["bureau_overdue_months"] = ap["bureau_overdue_months"].fillna(0)

In [24]:
print(ap[["SK_ID_CURR", "bureau_overdue_months"]].head())

   SK_ID_CURR  bureau_overdue_months
0      100002                    8.0
1      100003                    0.0
2      100004                    0.0
3      100007                    0.0
4      100008                    0.0

Bureau Table

In [25]:
b1= pd.read_csv("../data/raw/bureau.csv").dropna()
b_avg = (
    b1
    .groupby("SK_ID_CURR")["AMT_CREDIT_SUM"]
    .mean()
    .reset_index()
    .rename(columns={"AMT_CREDIT_SUM": "AVG_Loan_Amount"})
)
ap = ap.merge(b_avg, on="SK_ID_CURR", how="left")

In [26]:
active_loans = (
    b1[b1["CREDIT_ACTIVE"] == "Active"]
    .groupby("SK_ID_CURR")
    .size()
    .reset_index(name="total_active_bureau_loans")
)
ap = ap.merge(active_loans, on="SK_ID_CURR", how="left")

In [28]:
ap["AVG_Loan_Amount"] = ap["AVG_Loan_Amount"].fillna(0)
ap["total_active_bureau_loans"] = ap["total_active_bureau_loans"].fillna(0)

In [29]:
ap[["SK_ID_CURR","total_active_bureau_loans", "AVG_Loan_Amount", "bureau_overdue_months"]].sample(10)

,SK_ID_CURR,total_active_bureau_loans,AVG_Loan_Amount,bureau_overdue_months
29259,139339,0.0,0.000,0.0
114551,254052,0.0,54630.000,0.0
212419,385419,0.0,0.000,0.0
223313,400053,0.0,0.000,0.0
32510,143702,0.0,0.000,0.0
175220,335777,0.0,0.000,0.0
38714,152015,0.0,579719.385,0.0
30087,140463,0.0,0.000,0.0
48805,165588,0.0,0.000,0.0
70320,194463,0.0,76500.000,0.0

POS_CASH table

In [30]:
pos = pd.read_csv("../data/raw/POS_CASH_balance.csv").dropna()

In [31]:
pos_num_loans = pos.groupby("SK_ID_CURR")["SK_ID_PREV"].nunique().reset_index()
pos_num_loans = pos_num_loans.rename(columns={"SK_ID_PREV": "pos_num_loans"})
ap = ap.merge(pos_num_loans, on="SK_ID_CURR", how="left")

In [32]:
ap["pos_num_loans"] = ap["pos_num_loans"].fillna(0).astype(int)

In [33]:
pos_mean_cnt = pos.groupby("SK_ID_CURR")["CNT_INSTALMENT"].mean().reset_index().rename(
        columns={"CNT_INSTALMENT": "pos_mean_cnt_instalment"}
    )
ap = ap.merge(pos_mean_cnt, on="SK_ID_CURR", how="left")
ap["pos_mean_cnt_instalment"] = ap["pos_mean_cnt_instalment"].fillna(0.0)

Installments payments Table

In [34]:
inst = pd.read_csv("../data/raw/installments_payments.csv").dropna()

In [35]:
inst["payment_delay"] = inst["DAYS_ENTRY_PAYMENT"] - inst["DAYS_INSTALMENT"]
inst["payment_rate"] = np.where(inst["AMT_INSTALMENT"] > 0,
                                    inst["AMT_PAYMENT"] / inst["AMT_INSTALMENT"],
                                    np.nan)

In [36]:
payment_delay = inst.groupby("SK_ID_CURR")["payment_delay"].mean().reset_index()
payment_delay = payment_delay.rename(columns={"payment_delay": "inst_mean_payment_delay"})
ap = ap.merge(payment_delay, on="SK_ID_CURR", how="left")
ap["inst_mean_payment_delay"] = ap["inst_mean_payment_delay"].fillna(ap["inst_mean_payment_delay"].median())

In [37]:
payment_rate= inst.groupby("SK_ID_CURR")["payment_rate"].mean().reset_index()
payment_rate = payment_rate.rename(columns={"payment_rate": "inst_mean_payment_rate"})
ap = ap.merge(payment_rate, on="SK_ID_CURR", how="left")
ap["inst_mean_payment_rate"] = ap["inst_mean_payment_rate"].fillna(ap["inst_mean_payment_rate"].median())

Previous Application Table

In [38]:
prev = pd.read_csv("../data/raw/previous_application.csv")

In [39]:
prev_avg_amt = (
    prev.groupby("SK_ID_CURR")["AMT_APPLICATION"]
    .mean()
    .reset_index()
    .rename(columns={"AMT_APPLICATION": "avg_prev_amt_requested"})
)

In [40]:
prev["status"] = prev["NAME_CONTRACT_STATUS"].astype(str).str.lower()

prev["is_prev_approved"] = prev["status"].str.contains("approved", na=False).astype(int)

prev["is_prev_rejected"] = prev["status"].str.contains("refus|reject|canceled", na=False).astype(int)

In [41]:
prev_counts = (
    prev.groupby("SK_ID_CURR")[["is_prev_approved", "is_prev_rejected"]]
    .sum()
    .reset_index()
    .rename(columns={
        "is_prev_approved": "prev_num_approved",
        "is_prev_rejected": "prev_num_rejected"
    })
)

prev_total = (
    prev.groupby("SK_ID_CURR")
    .size()
    .reset_index(name="prev_num_applications")
)

prev_feats = prev_avg_amt.merge(prev_counts, on="SK_ID_CURR", how="outer")
prev_feats = prev_feats.merge(prev_total, on="SK_ID_CURR", how="left")

prev_feats["avg_prev_amt_requested"] = prev_feats["avg_prev_amt_requested"].fillna(prev_feats["avg_prev_amt_requested"].median())
prev_feats["prev_num_approved"] = prev_feats["prev_num_approved"].fillna(0).astype(int)
prev_feats["prev_num_rejected"] = prev_feats["prev_num_rejected"].fillna(0).astype(int)
prev_feats["prev_num_applications"] = prev_feats["prev_num_applications"].fillna(0).astype(int)

In [42]:
ap = ap.merge(prev_feats, on="SK_ID_CURR", how="left")

In [43]:
ap["avg_prev_amt_requested"] = ap["avg_prev_amt_requested"].fillna(ap["avg_prev_amt_requested"].median())
ap["prev_num_approved"] = ap["prev_num_approved"].fillna(0).astype(int)
ap["prev_num_rejected"] = ap["prev_num_rejected"].fillna(0).astype(int)
ap["prev_num_applications"] = ap["prev_num_applications"].fillna(0).astype(int)

Credit Card Table

In [44]:
cc = pd.read_csv("../data/raw/credit_card_balance.csv")

In [45]:
cc_amt= (
    cc.groupby("SK_ID_CURR")["AMT_BALANCE"]
    .mean()
    .reset_index()
    .rename(columns={"AMT_BALANCE": "avg_cc_amt_balance"})
)
ap = ap.merge(cc_amt, on="SK_ID_CURR", how="left")
ap["avg_cc_amt_balance"] = ap["avg_cc_amt_balance"].fillna(ap["avg_cc_amt_balance"].median())

In [46]:
cc_total= (
    cc.groupby("SK_ID_CURR")["AMT_PAYMENT_TOTAL_CURRENT"]
    .mean()
    .reset_index()
    .rename(columns={"AMT_PAYMENT_TOTAL_CURRENT": "avg_cc_amt_payment_total_current"})
)
ap = ap.merge(cc_total, on="SK_ID_CURR", how="left")
ap["avg_cc_amt_payment_total_current"] = ap["avg_cc_amt_payment_total_current"].fillna(ap["avg_cc_amt_payment_total_current"].median())

In [47]:
cc_sk= (
    cc.groupby("SK_ID_CURR")["SK_DPD"]
    .max()
    .reset_index()
    .rename(columns={"SK_DPD": "max_cc_sk_dpd"})
)
ap = ap.merge(cc_sk, on="SK_ID_CURR", how="left")
ap["max_cc_sk_dpd"] = ap["max_cc_sk_dpd"].fillna(0)

In [48]:
cc_sk= (
    cc.groupby("SK_ID_CURR")["SK_DPD_DEF"]
    .max()
    .reset_index()
    .rename(columns={"SK_DPD_DEF": "max_cc_sk_dpd_def"})
)
ap = ap.merge(cc_sk, on="SK_ID_CURR", how="left")
ap["max_cc_sk_dpd_def"] = ap["max_cc_sk_dpd_def"].fillna(0.0)

In [ ]:
cc_agg = (
        cc
        .groupby("SK_ID_CURR")
        .agg(
            avg_cc_max_limit_used=("AMT_CREDIT_LIMIT_ACTUAL", "max"),
            avg_cc_mean_drawings_atm_current=("AMT_DRAWINGS_ATM_CURRENT", "mean"),
        )
        .reset_index()
    )
ap = ap.merge(cc_agg, on="SK_ID_CURR", how="left")
ap["avg_cc_max_limit_used"] = ap["avg_cc_max_limit_used"].fillna
(ap["avg_cc_max_limit_used"].median())
ap["avg_cc_mean_drawings_atm_current"] = ap["avg_cc_mean_drawings_atm_current"].fillna
(ap["avg_cc_mean_drawings_atm_current"].median())

In [49]:
ap.shape

(264909, 52)

In [50]:
ap.to_csv("../data/final/aggregated_table.csv", index=False)