In [100]:
import pandas as pd
import numpy as np

Application Table

In [101]:
ap= pd.read_csv("../data/raw/application_train.csv")

In [102]:
ap.shape

(307511, 122)

In [103]:
ap.drop(columns=['NAME_TYPE_SUITE','DAYS_ID_PUBLISH','OWN_CAR_AGE'
                 ,'FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE','FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL','REGION_RATING_CLIENT_W_CITY'
                 ,'REG_REGION_NOT_LIVE_REGION','HOUR_APPR_PROCESS_START','WEEKDAY_APPR_PROCESS_START','REG_REGION_NOT_WORK_REGION'
                 ,'LIVE_REGION_NOT_WORK_REGION','REG_CITY_NOT_LIVE_CITY','REG_CITY_NOT_WORK_CITY','LIVE_CITY_NOT_WORK_CITY','FLOORSMIN_MEDI'
                 , 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
    'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'BASEMENTAREA_MODE',
    'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
    'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE',
    'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI',
    'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI',
    'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'APARTMENTS_AVG',
    'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG',
    'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
    'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG',
    'APARTMENTS_MODE','FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
    'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
    'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
    'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
   'FONDKAPREMONT_MODE',
    'HOUSETYPE_MODE','WALLSMATERIAL_MODE','EMERGENCYSTATE_MODE'], inplace=True)

In [104]:
ap.shape

(307511, 37)

In [105]:

# Feature groups
NUM_MEDIAN = [
    # Application
    "AMT_INCOME_TOTAL",
    "AMT_CREDIT",
    "AMT_ANNUITY",

    "REGION_POPULATION_RELATIVE",
    "DAYS_BIRTH",
    "DAYS_REGISTRATION",
    "DAYS_LAST_PHONE_CHANGE",
    "CNT_FAM_MEMBERS",
    "REGION_RATING_CLIENT",

    "EXT_SOURCE_1",
    "EXT_SOURCE_2",
    "EXT_SOURCE_3",

    "Credit_to_Income_Ratio",
    "Annuity_to_Income_Ratio",
    "Annuity_to_Credit_Ratio",
    # Bureau (STEP 2)
    "mean_days_credit",
    "avg_credit_utilization",
    # Installments (STEP 3)
    "inst_mean_delay_days",
    "inst_max_delay_days",
    "inst_payment_delay_ratio",
    "inst_late_ratio",
    "inst_min_installment",
    "inst_mean_installment",
    # POS (STEP 3)
    "pos_late_ratio",
    "pos_severe_late_ratio",
    "pos_max_dpd",
    # Previous applications (STEP 4)
    "avg_prev_amt_requested",
    "avg_prev_amt_credit",
    "avg_prev_interest_rate",
    # Credit card
    "avg_cc_max_limit_used",
    "avg_cc_mean_drawings_atm_current",
]
NUM_ZERO = [
    # Social / Bureau raw
    "OBS_60_CNT_SOCIAL_CIRCLE",
    "DEF_60_CNT_SOCIAL_CIRCLE",

    "AMT_REQ_CREDIT_BUREAU_MON",
    "AMT_REQ_CREDIT_BUREAU_YEAR",
    # Bureau engineered
    "bureau_overdue_months",
    "max_overdue_duration",
    "num_bad_statuses",
    "total_active_bureau_loans",
    "has_overdue",
    "has_active_bureau_loan",
    # POS
    "pos_num_loans",
    "pos_mean_cnt_instalment",
    # Installments
    "inst_late_count",
    "inst_missed_payment_count",
    "has_late_payment",
    "has_missed_payment",
    # Previous applications
    "prev_num_approved",
    "prev_num_rejected",
    "prev_early_repayment_count",
    "has_prev_rejection",
    "has_early_repayment",
    # Credit card
    "max_cc_sk_dpd_def",
    "CC_PAYMENT_RATIO",
    "DELINQUENCY_SEVERITY",
    "HAS_CC_DELINQUENCY",
    "NO_CC_PAYMENT_FLAG",
]


CAT_UNKNOWN = [
    "NAME_CONTRACT_TYPE",
    "CODE_GENDER",
    "FLAG_OWN_CAR",
    "FLAG_OWN_REALTY",

    "NAME_INCOME_TYPE",
    "NAME_EDUCATION_TYPE",
    "NAME_FAMILY_STATUS",
    "NAME_HOUSING_TYPE",

    "OCCUPATION_TYPE",
    "ORGANIZATION_TYPE",
]

In [106]:
null_counts = ap.isnull().sum()
print(null_counts.to_string())

SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
AMT_ANNUITY                       12
AMT_GOODS_PRICE                  278
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
REGION_POPULATION_RELATIVE         0
DAYS_BIRTH                         0
DAYS_EMPLOYED                      0
DAYS_REGISTRATION                  0
OCCUPATION_TYPE                96391
CNT_FAM_MEMBERS                    2
REGION_RATING_CLIENT               0
ORGANIZATION_TYPE                  0
EXT_SOURCE_1                  173378
EXT_SOURCE_2                     660
EXT_SOURCE_3                   60965
OBS_30_CNT_SOCIAL_CIRCLE        1021
DEF_30_CNT_SOCIAL_CIRCLE        1021
OBS_60_CNT_SOCIAL_CIRCLE        1021
DEF_60_CNT_SOCIAL_CIRCLE        1021
DAYS_LAST_PHONE_CHANGE             1
AMT_REQ_CREDIT_BUREAU_HOUR     41519
AMT_REQ_CREDIT_BUREAU_DAY      41519
AMT_REQ_CREDIT_BUREAU_WEEK     41519
AMT_REQ_CREDIT_BUREAU_MON      41519
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519

In [107]:
ap.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,2.0,0.0,-617.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,-1106.0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 37 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   SK_ID_CURR                  307511 non-null  int64
 1   TARGET                      307511 non-null  int64
 2   NAME_CONTRACT_TYPE          307511 non-null  object
 3   CODE_GENDER                 307511 non-null  object
 4   FLAG_OWN_CAR                307511 non-null  object
 5   FLAG_OWN_REALTY             307511 non-null  object
 6   CNT_CHILDREN                307511 non-null  int64
 7   AMT_INCOME_TOTAL            307511 non-null  float64
 8   AMT_CREDIT                  307511 non-null  float64
 9   AMT_ANNUITY                 307499 non-null  float64
 10  AMT_GOODS_PRICE             307233 non-null  float64
 11  NAME_INCOME_TYPE            307511 non-null  object
 12  NAME_EDUCATION_TYPE         307511 non-null  object
 13  NAME_FAMILY_STATUS          307511 non-null  object
 14  NAME_HOUSING_TYPE           307511 non-null  object
 15  REGION_POPULATION_RELATIVE  307511 non-null  float64
 16  DAYS_BIRTH                  307511 non-null  int64
 17  DAYS_EMPLOYED               307511 non-null  int64
 18  DAYS_REGISTRATION           307511 non-null  float64
 19  OCCUPATION_TYPE             211120 non-null  object
 20  CNT_FAM_MEMBERS             307509 non-null  float64
 21  REGION_RATING_CLIENT        307511 non-null  int64
 22  ORGANIZATION_TYPE           307511 non-null  object
 23  EXT_SOURCE_1                134133 non-null  float64
 24  EXT_SOURCE_2                306851 non-null  float64
 25  EXT_SOURCE_3                246546 non-null  float64
 26  OBS_30_CNT_SOCIAL_CIRCLE    306490 non-null  float64
 27  DEF_30_CNT_SOCIAL_CIRCLE    306490 non-null  float64
 28  OBS_60_CNT_SOCIAL_CIRCLE    306490 non-null  float64
 29  DEF_60_CNT_SOCIAL_CIRCLE    306490 non-null  float64
 30  DAYS_LAST_PHONE_CHANGE      307510 non-null  float64
 31  AMT_REQ_CREDIT_BUREAU_HOUR  265992 non-null  float64
 32  AMT_REQ_CREDIT_BUREAU_DAY   265992 non-null  float64
 33  AMT_REQ_CREDIT_BUREAU_WEEK  265992 non-null  float64
 34  AMT_REQ_CREDIT_BUREAU_MON   265992 non-null  float64
 35  AMT_REQ_CREDIT_BUREAU_QRT   265992 non-null  float64
 36  AMT_REQ_CREDIT_BUREAU_YEAR  265992 non-null  float64
dtypes: float64(21), int64(6), object(10)
memory usage: 86.8+ MB

In [109]:
ap.duplicated().sum()

np.int64(0)

In [110]:
ap["Credit_to_Income_Ratio"] = ap["AMT_CREDIT"] / ap["AMT_INCOME_TOTAL"].replace(0, np.nan)
ap["Annuity_to_Income_Ratio"] = ap["AMT_ANNUITY"] / ap["AMT_INCOME_TOTAL"].replace(0, np.nan)
ap["Annuity_to_Credit_Ratio"] = ap["AMT_ANNUITY"] / ap["AMT_CREDIT"].replace(0, np.nan)
ap["AMT_REQ_CREDIT_BUREAU_MON"]=(ap["AMT_REQ_CREDIT_BUREAU_MON"]>0).astype(int)

In [111]:
ap['EMPLOYED_FLAG'] = (ap['DAYS_EMPLOYED'] < 365243).astype(int)
ap['DAYS_BIRTH'] = abs(ap['DAYS_BIRTH']) / 365
ap['DAYS_REGISTRATION'] = abs(ap['DAYS_REGISTRATION']) / 365
for col in ['Credit_to_Income_Ratio', 'Annuity_to_Income_Ratio', 'Annuity_to_Credit_Ratio']:
    upper_limit = ap[col].quantile(0.99)
    ap[col] = ap[col].clip(upper=upper_limit)

Bureau_balance Table & Bureau Table

In [112]:
b2= pd.read_csv("../data/raw/bureau_balance.csv")
b1= pd.read_csv("../data/raw/bureau.csv")

In [113]:
b1.shape

(1716428, 17)

In [114]:
b2.shape

(27299925, 3)

In [115]:

overdue_status = ["1", "2", "3", "4", "5"]
b2["is_overdue"] = b2["STATUS"].isin(overdue_status).astype(int)

bb_agg = (
    b2
    .groupby("SK_ID_BUREAU")
    .agg(
        bureau_overdue_months=("is_overdue", "sum"),         
        max_overdue_duration=("is_overdue", "max"),         
    )
    .reset_index()
)

In [116]:
b1 = b1.merge(bb_agg, on="SK_ID_BUREAU", how="left")
b1["bureau_overdue_months"] = b1["bureau_overdue_months"].fillna(0)
b1["max_overdue_duration"] = b1["max_overdue_duration"].fillna(0)

In [117]:
b1["credit_utilization"] = (
        b1["AMT_CREDIT_SUM"] /
        b1["AMT_CREDIT_SUM_LIMIT"]
    )

b1["credit_utilization"] = b1["credit_utilization"].replace(
    [np.inf, -np.inf], np.nan
).fillna(0)

In [118]:
bureau_final = (
        b1
        .groupby("SK_ID_CURR")
        .agg(
            total_active_bureau_loans=("CREDIT_ACTIVE", lambda x: (x == "Active").sum()),
            bureau_overdue_months=("bureau_overdue_months", "sum"),
            max_overdue_duration=("max_overdue_duration", "max"),
            mean_days_credit=("DAYS_CREDIT", "mean"),
            num_bad_statuses=("bureau_overdue_months", lambda x: (x > 0).sum()),
            avg_credit_utilization=("credit_utilization", "mean"),
        )
        .reset_index()
    )

In [119]:
# Binary risk flags
bureau_final["has_overdue"] = (bureau_final["bureau_overdue_months"] > 0).astype(int)
bureau_final["has_active_bureau_loan"] = (
    bureau_final["total_active_bureau_loans"] > 0
).astype(int)

POS_CASH table

In [120]:
pos = pd.read_csv("../data/raw/POS_CASH_balance.csv")

In [121]:
pos["is_late"] = pos["SK_DPD"] > 0
pos["is_severely_late"] = pos["SK_DPD"] > 30

In [122]:
pos_agg = (
        pos
        .groupby("SK_ID_CURR")
        .agg(
            pos_num_loans=("SK_ID_PREV", "nunique"),
            pos_mean_cnt_instalment=("CNT_INSTALMENT", "mean"),

            # risk behaviour
            pos_late_ratio=("is_late", "mean"),
            pos_severe_late_ratio=("is_severely_late", "mean"),
            pos_max_dpd=("SK_DPD", "max"),
        )
        .reset_index()
    )

Installments payments Table

In [123]:
inst = pd.read_csv("../data/raw/installments_payments.csv")

In [124]:
inst["payment_delay_days"] = (
        inst["DAYS_ENTRY_PAYMENT"] - inst["DAYS_INSTALMENT"]
    )

inst["is_late"] = inst["payment_delay_days"] > 0
inst["is_missed"] = inst["AMT_PAYMENT"].isna() | (inst["AMT_PAYMENT"] == 0)

    # delay severity ratio
inst["delay_ratio"] = (
        inst["payment_delay_days"] / inst["DAYS_INSTALMENT"].abs()
    )

inst["delay_ratio"] = inst["delay_ratio"].replace(
        [np.inf, -np.inf], np.nan
    ).fillna(0)

In [125]:
inst_agg = (
        inst
        .groupby("SK_ID_CURR")
        .agg(
            # delay behavior
            inst_mean_delay_days=("payment_delay_days", "mean"),
            inst_max_delay_days=("payment_delay_days", "max"),
            inst_payment_delay_ratio=("delay_ratio", "mean"),

            # late behavior
            inst_late_ratio=("is_late", "mean"),
            inst_late_count=("is_late", "sum"),

            # missed payments
            inst_missed_payment_count=("is_missed", "sum"),

            # payment size
            inst_min_installment=("AMT_INSTALMENT", "min"),
            inst_mean_installment=("AMT_INSTALMENT", "mean"),
        )
        .reset_index()
    )

In [126]:
inst_agg["has_late_payment"] = (inst_agg["inst_late_count"] > 0).astype(int)
inst_agg["has_missed_payment"] = (inst_agg["inst_missed_payment_count"] > 0).astype(int)

Previous Application Table

In [127]:
prev = pd.read_csv("../data/raw/previous_application.csv")

In [128]:
prev["status"] = prev["NAME_CONTRACT_STATUS"].astype(str).str.lower()

prev["is_prev_approved"] = prev["status"].str.contains("approved", na=False).astype(int)
prev["is_prev_rejected"] = prev["status"].str.contains("refus|reject|canceled", na=False).astype(int)

prev["is_early_repayment"] = (
    (prev["DAYS_TERMINATION"] < prev["DAYS_DECISION"]) &
    prev["DAYS_TERMINATION"].notna()
).astype(int)


prev["interest_rate_proxy"] = (
        prev["AMT_ANNUITY"] / prev["AMT_CREDIT"]
 )

prev["interest_rate_proxy"] = prev["interest_rate_proxy"].replace(
    [np.inf, -np.inf], np.nan
)

In [129]:
prev_agg = (
        prev
        .groupby("SK_ID_CURR")
        .agg(
            # approval behaviour
            prev_num_approved=("is_prev_approved", "sum"),
            prev_num_rejected=("is_prev_rejected", "sum"),

            # repayment behaviour
            prev_early_repayment_count=("is_early_repayment", "sum"),

            # loan sizing
            avg_prev_amt_requested=("AMT_APPLICATION", "mean"),
            avg_prev_amt_credit=("AMT_CREDIT", "mean"),

            # pricing / risk
            avg_prev_interest_rate=("interest_rate_proxy", "mean"),
        )
        .reset_index()
    )

In [130]:
prev_agg["has_prev_rejection"] = (prev_agg["prev_num_rejected"] > 0).astype(int)
prev_agg["has_early_repayment"] = (prev_agg["prev_early_repayment_count"] > 0).astype(int)

Credit Card Table

In [131]:
cc = pd.read_csv("../data/raw/credit_card_balance.csv")

In [132]:
cc_agg = (
        cc
        .groupby("SK_ID_CURR")
        .agg(
            avg_cc_mean_balance=("AMT_BALANCE", "mean"),
            avg_cc_max_limit_used=("AMT_CREDIT_LIMIT_ACTUAL", "max"),
            avg_cc_mean_drawings_atm_current=("AMT_DRAWINGS_ATM_CURRENT", "mean"),
            avg_cc_amt_payment_total_current=("AMT_PAYMENT_TOTAL_CURRENT", "mean"),
            max_cc_sk_dpd=("SK_DPD", "max"),
            max_cc_sk_dpd_def=("SK_DPD_DEF", "max"),
        )
        .reset_index()
    )

In [133]:
cc_agg['max_cc_sk_dpd_def']=(cc_agg['max_cc_sk_dpd_def']>0).astype(int)
cc_agg['HAS_CC_DELINQUENCY'] = (cc_agg['max_cc_sk_dpd'] > 0).astype(int)

cc_agg['CC_PAYMENT_RATIO'] = (
cc_agg['avg_cc_amt_payment_total_current'] /(cc_agg['avg_cc_mean_balance'] + 1))

cc_agg['NO_CC_PAYMENT_FLAG'] = (cc_agg['avg_cc_amt_payment_total_current'] == 0).astype(int)
cc_agg.drop(columns=['max_cc_sk_dpd','avg_cc_amt_payment_total_current', 'avg_cc_mean_balance'], inplace=True, errors='ignore')

Merging table

In [134]:
ap = (
        ap
        .merge(bureau_final, on="SK_ID_CURR", how="left")
        .merge(pos_agg, on="SK_ID_CURR", how="left")
        .merge(inst_agg, on="SK_ID_CURR", how="left")
        .merge(prev_agg, on="SK_ID_CURR", how="left")
        .merge(cc_agg, on="SK_ID_CURR", how="left")
    )

In [135]:

ap['DELINQUENCY_SEVERITY'] = ap['HAS_CC_DELINQUENCY'] * ap['inst_mean_delay_days']

In [136]:
ap.shape

(307511, 79)

In [137]:
for col in ap.columns:
    if (ap[col].isnull().sum()/ap.shape[0]*100)>60:
        print(f"{col}: {ap[col].isnull().sum()/ap.shape[0]*100:.2f}% missing")

avg_cc_max_limit_used: 71.74% missing
avg_cc_mean_drawings_atm_current: 80.12% missing
max_cc_sk_dpd_def: 71.74% missing
HAS_CC_DELINQUENCY: 71.74% missing
CC_PAYMENT_RATIO: 71.74% missing
NO_CC_PAYMENT_FLAG: 71.74% missing
DELINQUENCY_SEVERITY: 71.81% missing

In [138]:
for col in NUM_MEDIAN:
    if col in ap.columns:
        ap[col] = ap[col].fillna(ap[col].median())
for col in NUM_ZERO:
    if col in ap.columns:
        ap[col] = ap[col].fillna(0)
for col in CAT_UNKNOWN:
    if col in ap.columns:
        ap[col] = ap[col].fillna('Unknown')

In [139]:
ap.to_csv("../data/final/aggregated_table.csv", index=False)