In [1]:
import pandas as pd

Application Table

In [ ]:
ap= pd.read_csv("../data/raw/application_train.csv")

In [3]:
ap.shape

(307511, 122)

In [4]:
ap.drop(columns=['NAME_TYPE_SUITE','REGION_POPULATION_RELATIVE','DAYS_REGISTRATION','DAYS_ID_PUBLISH','OWN_CAR_AGE','FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE','FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL','REGION_RATING_CLIENT_W_CITY','OCCUPATION_TYPE','REG_REGION_NOT_LIVE_REGION','HOUR_APPR_PROCESS_START','WEEKDAY_APPR_PROCESS_START','REG_REGION_NOT_WORK_REGION','LIVE_REGION_NOT_WORK_REGION','REG_CITY_NOT_LIVE_CITY','REG_CITY_NOT_WORK_CITY','LIVE_CITY_NOT_WORK_CITY','FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
    'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'BASEMENTAREA_MODE',
    'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
    'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE',
    'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI',
    'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI',
    'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'EXT_SOURCE_1', 'APARTMENTS_AVG',
    'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG',
    'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
    'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG',
    'APARTMENTS_MODE','FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
    'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
    'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
    'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
    'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
    'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR','EXT_SOURCE_3','FONDKAPREMONT_MODE',
    'HOUSETYPE_MODE','WALLSMATERIAL_MODE','EMERGENCYSTATE_MODE'], inplace=True)

In [5]:
ap.shape

(307511, 26)

In [6]:
null_counts = ap.isnull().sum()
print(null_counts.to_string())

SK_ID_CURR                     0
TARGET                         0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
CNT_CHILDREN                   0
AMT_INCOME_TOTAL               0
AMT_CREDIT                     0
AMT_ANNUITY                   12
AMT_GOODS_PRICE              278
NAME_INCOME_TYPE               0
NAME_EDUCATION_TYPE            0
NAME_FAMILY_STATUS             0
NAME_HOUSING_TYPE              0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
CNT_FAM_MEMBERS                2
REGION_RATING_CLIENT           0
ORGANIZATION_TYPE              0
EXT_SOURCE_2                 660
OBS_30_CNT_SOCIAL_CIRCLE    1021
DEF_30_CNT_SOCIAL_CIRCLE    1021
OBS_60_CNT_SOCIAL_CIRCLE    1021
DEF_60_CNT_SOCIAL_CIRCLE    1021
DAYS_LAST_PHONE_CHANGE         1

In [7]:
ap.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_EMPLOYED,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,ORGANIZATION_TYPE,EXT_SOURCE_2,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-637,1.0,2,Business Entity Type 3,0.262949,2.0,2.0,2.0,2.0,-1134.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,-1188,2.0,1,School,0.622246,1.0,0.0,1.0,0.0,-828.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,-225,1.0,2,Government,0.555912,0.0,0.0,0.0,0.0,-815.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,-3039,2.0,2,Business Entity Type 3,0.650442,2.0,0.0,2.0,0.0,-617.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,-3038,1.0,2,Religion,0.322738,0.0,0.0,0.0,0.0,-1106.0

In [8]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 26 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SK_ID_CURR                307511 non-null  int64
 1   TARGET                    307511 non-null  int64
 2   NAME_CONTRACT_TYPE        307511 non-null  object
 3   CODE_GENDER               307511 non-null  object
 4   FLAG_OWN_CAR              307511 non-null  object
 5   FLAG_OWN_REALTY           307511 non-null  object
 6   CNT_CHILDREN              307511 non-null  int64
 7   AMT_INCOME_TOTAL          307511 non-null  float64
 8   AMT_CREDIT                307511 non-null  float64
 9   AMT_ANNUITY               307499 non-null  float64
 10  AMT_GOODS_PRICE           307233 non-null  float64
 11  NAME_INCOME_TYPE          307511 non-null  object
 12  NAME_EDUCATION_TYPE       307511 non-null  object
 13  NAME_FAMILY_STATUS        307511 non-null  object
 14  NAME_HOUSING_TYPE         307511 non-null  object
 15  DAYS_BIRTH                307511 non-null  int64
 16  DAYS_EMPLOYED             307511 non-null  int64
 17  CNT_FAM_MEMBERS           307509 non-null  float64
 18  REGION_RATING_CLIENT      307511 non-null  int64
 19  ORGANIZATION_TYPE         307511 non-null  object
 20  EXT_SOURCE_2              306851 non-null  float64
 21  OBS_30_CNT_SOCIAL_CIRCLE  306490 non-null  float64
 22  DEF_30_CNT_SOCIAL_CIRCLE  306490 non-null  float64
 23  OBS_60_CNT_SOCIAL_CIRCLE  306490 non-null  float64
 24  DEF_60_CNT_SOCIAL_CIRCLE  306490 non-null  float64
 25  DAYS_LAST_PHONE_CHANGE    307510 non-null  float64
dtypes: float64(11), int64(6), object(9)
memory usage: 61.0+ MB

In [9]:
ap.duplicated().sum()

np.int64(0)

In [10]:
ap=ap.dropna()

Bureau Features

In [12]:
b2= pd.read_csv("../data/raw/bureau_balance.csv")
b1= pd.read_csv("../data/raw/bureau.csv")

In [13]:
b1.shape

(1716428, 17)

In [14]:
b2.shape

(27299925, 3)

In [19]:
overdue = ["1", "2", "3", "4", "5"]
b2["is_overdue"] = b2["STATUS"].isin(overdue).astype(int)
bb_agg = (
    b2
    .groupby("SK_ID_BUREAU")["is_overdue"]
    .sum()
    .reset_index()
    .rename(columns={"is_overdue": "bureau_overdue_months"})
)

In [24]:
b1.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [29]:
b = b1.merge(bb_agg, on="SK_ID_BUREAU", how="left")
b["bureau_overdue_months"] = b["bureau_overdue_months"].fillna(0)

In [31]:
bureau_final = (
    b
    .groupby("SK_ID_CURR")["bureau_overdue_months"]
    .sum()
    .reset_index()
)

In [ ]:
ap = ap.merge(bureau_final, on="SK_ID_CURR", how="left")
ap["bureau_overdue_months"] = ap["bureau_overdue_months"].fillna(0)

   SK_ID_CURR  bureau_overdue_months
0      100002                   27.0
1      100003                    0.0
2      100004                    0.0
3      100006                    0.0
4      100007                    0.0